.cc-avatar-edit-direct{
  width:21px!important;
  height:21px!important;
  right:-2px!important;
  bottom:-2px!important;
  font-size:10px!important;
  box-shadow:0 3px 10px rgba(0,0,0,.35)!important;
}
